---
import {Image} from 'astro:assets';
import cat from '../assets/images/cat.svg';
import darts_0 from '../assets/images/darts_0.png';
import coins from '../assets/images/coins.jpeg';
import dog from '../assets/images/dog.svg';
import dog_0 from '../assets/images/dog_0.png';
import food_0 from '../assets/images/food_0.png';
import medicines_0 from '../assets/images/medicines_0.png';
import volunteers_0 from '../assets/images/volunteers_0.png';
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";

---

<Layout title="Добро пожаловать в комьюнити Dzaglik!">
    <main>
        <div class="relative text-neutral-600 text-justify text-xl self-center mt-6 max-md:max-w-full">
            <p>Dzaglik - это сообщество волонтёров, мы помогаем частному приюту в Батуми, Грузия.</p>
            <p><strong>ძაღლი / dzag(h)li</strong> по-грузински значит «пёс», «ик» - уменьшительно-ласкательный суффикс из русского языка. Пёсик - дзаглик!
                Частному приюту в Батуми около 15 лет. Команда Dzaglik не является приютом, мы помогаем его владельцам и всем его обитателям.
                Под нашей опекой более 250 собак и 100 кошек.</p>
        </div>
        <div class="flex justify-center mt-12">
            <div>
                <Image src={dog} alt="dog image"/>
            </div>
            <div>
                <Image src={cat} alt="cat image"/>
            </div>
        </div>
        <div class="text-black text-justify text-3xl font-bold self-stretch mt-24 max-md:max-w-full max-md:mt-10">
            Чем мы занимаемся?
        </div>
        <Card imgSrc={dog_0}>
            <span slot="title">Пристройство</span>
            <span slot="description">Отправляем животных по всему миру. Множество наших подопечных в поисках любящей семьи. Возможно кто-то из них ждёт именно вас!</span>
            ]<a href="/" slot="button">Подробнее</a>
        </Card>
        <Card orientation="right" imgSrc={volunteers_0}>
            <span slot="title">Волонтерство</span>
            <span slot="description">
                Наше сообщество будет радо приветствовать всех вне зависимости от опыта, возраста или местонахождения. Помимо работы руками, в приюте можно делать информационный контент, распространять его, быть организатором мероприятий и многое-многое другое.
            </span>
        </Card>
        <Card imgSrc={coins}>
            <span slot="title">Финансовая поддержка</span>
            <span slot="description">
                Поддержать нашу деятельность можно любым удобным способом с любой карты мира.
                Полный финансовый отчёт публикуем каждый месяц.
            </span>
            ]<a href="/donations" slot="button">Подробнее</a>
        </Card>
        <Card imgSrc={darts_0} orientation="right">
            <span slot="title">Целевые сборы</span>
            <span slot="description">Поддерживайте конкретные потребности приюта и его постояльцем. Лечение, строительство, отправка животных и многое другое.</span>
        </Card>
        <Card imgSrc={food_0}>
            <span slot="title">Необходимые корма</span>
            <span slot="description">Один из способов помочь собакам и кошкам - закупить корм. На приют в целом необходимо порядка 80 кг. корма ежедневно.</span>
        </Card>
        <Card imgSrc={medicines_0} orientation="right">
            <span slot="title">Необходимые лекарства</span>
            <span slot="description">Медицинские расходники и некоторые препараты являются расходниками в приюте. Мы составили список часто используемых медикоментов. Вы можете приобрести любое количество лекарства - от одной таблетки до целой пачки. Большинство препаратов доступны в любой аптеке и зоомагазине.</span>
        </Card>
    </main>
</Layout>

<style>
</style>
